<% content_for :nav_howitworks do %> class="marked"<% end %>
<% content_for :breadcrumbs do %><!-- We need some sort of single-line random IRC quote here or something -->&nbsp;<% end %>

<h2>How it works</h2>

<p>The bot is written in <a href="http://java.sun.com/">java</a> and <a href="http://www.scala-lang.org/">scala</a>, and extends the functionality of the well-designed <a href="http://www.jibble.org/pircbot.php">pircbot</a>.</p>
<p>We use <a href="http://www.sqlite.org/">SQLite</a> for database storage. No advanced SQL commands are expected, and managing the database is extremely simple.</p>
<p><a href="http://git-scm.com/">Git</a> is used as the main <a href="http://en.wikipedia.org/wiki/Revision_control">VCS</a>, and the latest official main code base can always be found on <a href="http://github.com/murr4y/grouphugs/">github</a>.</p>
<p>Finally, <a href="http://buildr.apache.org/">Apache Buildr</a> is the build system used to compile and deploy the bot on the server that runs it.</p>

<hr>

<p>Sounds interesting? Check out <%= link_to "what you can do", :action => :whatyoucando %>, or take a look at our excellent <%= link_to "guides", :controller => :guides %>!</p>
