<% content_for :nav_aboutus do %> class="marked"<% end %>
<% content_for :breadcrumbs do %><!-- We need some sort of single-line random IRC quote here or something -->&nbsp;<% end %>

<h2>About us</h2>
<p class="shout">Find us in #grouphugs @ <a href="http://www.efnet.org/">efnet</a>!</p>
