<% content_for :nav_ctl do %> class="marked"<% end %>
<% content_for :breadcrumbs do %><!-- We need some sort of single-line random IRC quote here or something -->&nbsp;<% end %>

<h2>Controller interfaces</h2>

<p>Earlier, we used to have a handy little web interface that would let you restart the bot, view the latest log entries and more. However, after moving the bot and getting this new setup, we haven't gotten this far yet. At this point, you'll just have to poke murr4y in <%= link_to "the channel", :controller => :about, :action => :us %> and tell him to restart it.</p>

<p>We hope to implement some more functionality here as time passes.</p>

<hr>

<p>Text here?</p>
