<% content_for :nav_ctl do %> class="marked"<% end %>
<% content_for :breadcrumbs do %><!-- We need some sort of single-line random IRC quote here or something -->&nbsp;<% end %>

<h2>Bot control interfaces</h2>

<p>Hopefully you will be able to restart the bot here soon.</p>

<p><%= link_to "View the latest log entries here", :action => :logs %>.</p>
