<% content_for :nav_img do %> class="marked"<% end %>
<% content_for :breadcrumbs do %><!-- We need some sort of single-line random IRC quote here or something -->&nbsp;<% end %>

<h2>Images</h2>

<p>We grouphuggers are big fans of random funny images on the net, especially people hugging. In groups.</p>

<p>We upload <%= link_to "the ones that are worthy enough for commenting here", :action => :uploads %>, and you can find <%= link_to "every single image ever pasted", "http://gh.winyar.org/" %> in the channel in case you've missed something.</p>

<p>Enjoy!</p>
