<% content_for :nav_uploads do %> class="marked"<% end %>
<% content_for :breadcrumbs do %><!-- We need some sort of single-line random IRC quote here or something -->&nbsp;<% end %>

<h2>Image uploads</h2>

<p>One of the bots modules is an image upload module. It will take any image URI and save the image locally. This is for example handy for image files we know to be temporary (4chan) but still want to share.</p>

<p>Here, you will find all those uploaded images (eventually).</p>

