<% content_for :nav_guides do %> class="marked"<% end %>
<% content_for :breadcrumbs do %><%= link_to "Guides index", :action => :index%> &gt; Debugging<% end %>

<h2>Debugging</h2>

<h3>Quick start</h3>

<p>So how do you get this thing running on your local machine? Well, unless you already have <a href="http://buildr.apache.org/">buildr</a> installed, you need to <a href="http://buildr.apache.org/installing.html">install it</a>. Their guides on how to do this are excellent. You might or might not need <a href="http://docs.rubygems.org/read/chapter/3">rubygems</a> too.</p>

<p>Got buildr installed yet? Good. Now all you need to do is compile and package Grouphugs, then run it. This is very simple:</p>

<pre class="code">buildr clean package</pre>

<p>This command tells buildr to pull any missing libraries from a remote maven repository, compile Grouphugs, and package it neatly into a .jar file for you. The resulting .jar file can now be found in the target/ subdirectory.</p>

<p>It is now possible to run the bot by issuing the following command:</p>

<pre class="code">java -jar target/&lt;jar file name&gt;</pre>

<p>However, we advise you to also take a look at the following optional additions before you do that.</p>

<h3>Optional additions</h3>

<h4>1: SQL</h4>

<p>In order to get SQL running, you simply need to <%= link_to "download the database file", :controller => :about, :action => :libs %> and put it in your project root. This is not required, but the modules using SQL will obviously not be loaded without it.</p>

<p class="note">This will be the database in the state it was at the exact moment you download it. Remember that any changes you make to it will not be applied to the database file on the deployed bot. For more info, read up on <%= link_to "managing sql", :action => :managingsql %>.</p>

<h4>2: Channel name</h4>

<p>It is probably a good idea to test and debug your new functionality for yourself in a seperate channel. The channel variable can be found in <abbr title="&lt;project root&gt;/src/main/java/grouphug/Grouphug.java">Grouphugs.java</abbr> near the top of the class.</p>

<p>Remember to change the channel name back before pushing back your changes!</p>

<h4>3: Libraries and dependencies</h4>

<p><em>(This is purely informational)</em></p>

<p>Since Grouphugs uses buildr as its build system, and buildr interacts with maven repositories, there's next to no need to worry about libraries &mdash; buildr will pull the necessary libraries from a remote maven repository and install them in your local maven repository (typically in ~/.m2/repository).</p>

<h3>That's it!</h3>

<p>Now you should be able to simply run the bot like explained above. It will connect to IRC from your local computer and hopefully be visible there, and behaving exactly the same way the final deployed bot would behave.</p>

<hr>

<p>Back to the <%= link_to "guides index", :action => :index%>.</p>
