<% content_for :nav_guides do %> class="marked"<% end %>
<% content_for :breadcrumbs do %><%= link_to "Guides index", :action => :index%> &gt; Logging<% end %>

<h2>Downloading and uploading</h2>
<p>Newcomers should start on the top and just continue downwards.</p>

<hr>

<p>Back to the <%= link_to "guides index", :action => :index%>.</p>
