<% content_for :nav_guides do %> class="marked"<% end %>
<% content_for :breadcrumbs do %><%= link_to "Guides index", :action => :index%> &gt; Downloading the code<% end %>

<h2>Downloading the code</h2>

<p>The very first thing you have to do is download the source code. This is done through the <a href="http://github.com/murr4y/grouphugs/">github repository</a>, and you will need a <a href="http://git-scm.com/">git</a> client installed.</p>

<p>This guide assumes that you are using git from a unix-like command line.</p>

<h3>Downloading the repository</h3>

<p>Downloading is very simple:</p>

<pre class="code">git clone git://github.com/murr4y/grouphugs.git</pre>

<p>This will make a clone of the entire repository. You can enter the new dir and view the latest commits:</p>

<pre class="code">cd grouphugs; git log</pre>

<p>If you're using <a href="http://www.jetbrains.com/idea/">IntelliJ IDEA</a> or <a href="http://www.eclipse.org/">Eclipse</a> as <abbr title="Integrated development environment">IDE</abbr>, buildr can generate project files for you. While in the project directory, try issuing:</p>

<pre class="code">buildr &lt;IDE&gt;</pre>

<p>Replacing &lt;IDE&gt; with your preferred <abbr title="Integrated development environment">IDE</abbr>, for example 'idea' or 'eclipse'.</p>

<p class="note">If you're unfamiliar with buildr, <a href="http://buildr.apache.org/">their web site</a> provides excellent information on what it is and how to install it.</p>

<p>Now, you're free to modify the source as you want. Feel free to <%= link_to "try out your changes", :action => :debugging %> before you move on to apply them.</p>

<h3>Uploading your changes</h3>

<p>If you're a regular in the #grouphugs channel, just ask murr4y to add your <a href="http://help.github.com/linux-key-setup/">deploy key</a>. Then you can push back your changes to the <a href="http://github.com/murr4y/grouphugs/">github repository</a> like this (while being in the project root):</p>

<pre class="code">git push origin master</pre>

<p>If you happen to not know us that well, but you're still interested in this project, just talk to us. We will probably just <a href="http://github.com/murr4y/grouphugs/">pull from you</a> (make a pull request), review your work, and with time, you'll be trusted enough to get push permissions.</p>

<p>And that's all there is to it! Check out your new changes <a href="http://github.com/murr4y/grouphugs/">online</a> if you want. They will be applied to the bot on its <%= link_to "next restart", :controller => :extras, :action => :ctl %>.</p>

<hr>

<p>Back to the <%= link_to "guides index", :action => :index%>.</p>
