<!doctype html>
<html>
<head>
  <title>Grouphugs</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen">
  <meta charset="utf-8">
</head>

<body>
<div id="linewrap">

  <div id="linetop"></div>

  <div id="content">

    <header>
      <img src="/res/hug-qstmrk.png" alt="Cute little alien says: hug?">
      <h1><a href="/">Grouphugs</a></h1>
      <p class="motto">Free hugs for everyone!</p>
    </header>

    <div id="breadcrumbs">
      <%= yield :breadcrumbs %>
    </div>

    <article>
      <%= yield %>
    </article>

    <nav>
    <h2>Navigation</h2>
    <ul>
      <li<%= yield :nav_welcome %>><%= link_to "Welcome", :controller => :about, :action => :index %></li>
      <li<%= yield :nav_howitworks %>><%= link_to "How it works", :controller => :about, :action => :howitworks %></li>
      <li<%= yield :nav_whatyoucando %>><%= link_to "What you can do", :controller => :about, :action => :whatyoucando %></li>
      <li<%= yield :nav_guides %>><%= link_to "Guides", :controller => :guides %></li>
      <li<%= yield :nav_libs %>><%= link_to "Downloads", :controller => :about, :action => :libs %></li>
      <li<%= yield :nav_aboutus %>><%= link_to "About us", :controller => :about, :action => :us %></li>
    </ul>

    <h2>Extras</h2>
    <ul>
      <li<%= yield :nav_ctl %>><%= link_to "Control", :controller => :extras, :action => :ctl %></li>
      <li<%= yield :nav_uploads %>><%= link_to "Uploads", :controller => :extras, :action => :uploads %></li>
      <li><a href="/jdoc/">Javadoc</a></li>
    </ul>
    </nav>

  </div>
  <div id="linebottom"></div>
</div>

<footer>
  Original design from <a href="http://www.oswd.org/">OSWD</a> by <a href="http://www.minimalistic-design.net">Minimalistic Design</a><br>
  Rewritten to <a href="http://html5.org/">HTML5</a> (<a href="http://validator.w3.org/check?uri=referer">validate</a>)<br>
</footer>

</body>
</html>
