<!doctype html>
<html>
<head>
  <title>Grouphugs</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen">
  <meta charset="utf-8">
</head>

<body>

<%= yield %>

</body>
</html>
